h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 100px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


img {
    width: 100%;
    aspect-ratio: 1/1;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: 400px
}

p {
    display: flex;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;    
    justify-content: center;
    align-items: center;
    text-align: center;
}